<div class="page-title">
  <h4>Orders history</h4>
  <button
    (click)="isFilterVisible = !isFilterVisible"
    class="btn btn-small"
    [ngClass]="{
      'active' : isFilterVisible,
      'red' : isFiltered()
    }"
    data-tooltip="Open filter"
    data-position="left"
    #tooltip
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter
  *ngIf="isFilterVisible"
  (onFilter)="applyFilter($event)"
></app-history-filter>

<div *ngIf="!reloading; else reloadingBlock">
  <div *ngIf="orders.length > 0; else empty">
    <app-history-list [orders]="orders"></app-history-list>
    <div
      class="center mb2"
      *ngIf="!noMoreOrders"
    >
      <button
        class="btn waves-effect grey darken-1 btn-small"
        (click)="loadMore()"
        *ngIf="!loading; else loader"
      >
        Load more
      </button>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
  <ng-template #empty>
    <div class="center">There are no orders</div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>
