<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Positions:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="onAddPosition()"
      >
        Add position
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div class="collection" *ngIf="positions.length !== 0; else empty">
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="onSelectPostion(position)"
        >
        <span>
            {{position.name}} <strong>${{position.cost}}</strong>
        </span>
          <span>
            <i class="material-icons">delete</i>
        </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">There are no positions</div>
      </ng-template>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>


<div class="modal" #modal>
  <div class="modal-content">
    <h4 class="mb1">Add position</h4>
    <div class="input-field">
      <input id="pos-name" type="text" required>
      <label for="pos-name">Name</label>
    </div>
    <div class="input-field">
      <input id="pos-cost" type="text" required>
      <label for="pos-cost">Cost</label>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat">Cancel</button>
    <button class="modal-action btn waves-effect">Save</button>
  </div>
</div>
